.hero {
  width: 100%;
  height: fit-content;
  background-image: url(../assets/HeroImage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heroDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 638px;
}
.heroDiv .LogoAndText {
  max-width: 798.2px;
  text-align: center;
}
.heroDiv .LogoAndText img {
  width: 210px;
  height: auto;
  padding-bottom: 32px;
}
.heroDiv .LogoAndText p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .heroDiv .LogoAndText img {
    padding-bottom: 16px;
  }
  .heroDiv .LogoAndText p {
    font-size: 19px;
    line-height: 28px;
  }
  .heroDiv .LogoAndText {
    max-width: 300px;
    text-align: center;
  }
  .heroDiv {
    height: 360px;
  }
}
